.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.track-details {
    display: flex;
}

.track img {
    width: 100px;
    height: 100%;
}