.track-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.track-card-details {
    display: flex;
}

.track-card img {
    width: 100px;
    height: 100%;
}